/* ---------- Introduction ---------- */

.box--simple {
  transition-property: color, background-color, border-color;
  transition-duration: 1s;
  transition-timing-function: ease;
  transition-delay: 0.5s;
}

.box--simple:hover,
.box--simple:focus {
  border-color: var(--color-primary--dark);
  background-color: var(--color-primary);
  color: #fff;
}

.box--shorthand {
  transition: color 1s 2s, background-color 1s 0.5s, border-color 1s 0.5s;
}

.box--shorthand:hover {
  background-color: var(--color-accent-1);
  color: #fff;
}

/* ---------- Properties ---------- */

.box--width {
  width: 10rem; /* max-content */
  transition: width 0.5s;
}

.box--width:hover {
  width: 100%;
}

.box--left {
  position: relative;
  transition: left 0.5s;
  left: 0;
}

.box--left:hover {
  left: 5rem;
}

.flex {
  display: flex;
  justify-content: flex-start;
  transition: justify-content 0.2s;
}

.flex:hover {
  justify-content: flex-end;
}

.grid {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  transition: grid-template-columns 0.2s, gap 0.2s;
}

.grid:hover {
  grid-template-columns: 5fr 1fr 1fr 1fr;
  gap: 5rem;
}

/* ---------- Timing Functions ---------- */

.timing .box {
  width: 12rem;
  position: relative;
  left: 0;
  transition: left 1s, translate 1s;
}

.timing:hover .box {
  left: 100%;
  translate: -100%;
}

.timing .linear {
  transition-timing-function: linear;
}

.timing .ease {
  transition-timing-function: ease;
}

.timing .ease-in {
  transition-timing-function: ease-in;
}

.timing .ease-out {
  transition-timing-function: ease-out;
}

.timing .ease-in-out {
  transition-timing-function: ease-in-out;
}

.timing .cubic-bezier {
  transition-timing-function: cubic-bezier(0.9, -0.35, 0.1, 1.37);
}
